@using Kotabko.ViewModel;
@model ShoppingCardVM

@* to render temp data*@

<partial name="_notification"></partial>

@{
	ViewData["title"] = "shopping card summary";
}


<section class="h-100 h-custom" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                    </div>
                                    <hr class="my-4">
									@foreach (var item in Model.ShoppingCard.ShoppingCardItems)
									{
										<div class="row mb-4 d-flex justify-content-between align-items-center">
											<div class="col-md-2 col-lg-2 col-xl-2">
												<img src="/Imgs/@item.Book.Image"
													 class="img-fluid rounded-3" alt="book img">
											</div>
											<div class="col-md-3 col-lg-3 col-xl-3">
												<h6 class="text-muted">@item.Book.Title</h6>
												<h6 class="text-black mb-0"> € @item.Book.Price</h6>
											</div>
											<div class="col-md-3 col-lg-3 col-xl-2 d-flex">

												<a class="btn btn-link px-2" asp-controller="Orders" asp-action="RemoveItemsfromShoppingCard" asp-route-id="@item.Book.Id">  <i class="fas fa-minus"></i> </a>
												@*<button class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
													<i class="fas fa-minus"></i>
												</button>*@

												<input id="form1" min="0" name="quantity" value="@item.Amount" type="number"
													   class="form-control form-control-sm" />

												@*<button class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
													<i class="fas fa-plus"></i>
												</button>*@

												<a class="btn btn-link px-2" asp-controller="Orders" asp-action="AddItemsToShoppingCard" asp-route-id="@item.Book.Id">  <i class="fas fa-plus"></i> </a>
												


											</div>
											<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
												<h6 class="mb-0">€ @((item.Amount * item.Book.Price)) </h6>
											</div>
											<div class="col-md-1 col-lg-1 col-xl-1 text-end">
												<a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
											</div>
										</div>

										<hr class="my-4">
										
									}



                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a asp-controller="Shop"  asp-action="ShopIndex" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-200">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Vendor</h5>
                                        <h5>Bookoly</h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- €5.00</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
										<h5>€ @Model.ShoppingCardTotal</h5>
                                    </div>

                                  @*  <button  type="button" class="btn btn-dark btn-block btn-lg"
                                            data-mdb-ripple-color="dark">
                                        Register
                                    </button>*@

									<div class="d-flex gap-5">
                                        <a asp-controller="Orders" asp-action="CompleteOrder" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">
                                            Checkout
                                        </a>

                                        <div id="paypal-btn"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="https://www.paypalobjects.com/api/checkout.js">
    </script>

    <script>
        let _total = @Html.Raw(Model.ShoppingCardTotal)
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'Aek9c3QBKAl4JJ99JOYsphygzPZaL4cC6RRjWnlhLtbUBlMEv1ARv92dNnCifyF2nSGbCNG13yQOU_DC'
            },
            locale: 'en_US',
            style:{
            size: 'small',
            color: 'gold',
            shape: 'pill'
        },
            commit: true,
            payment:function(data , actions){
                return actions.payment.create({
                    transactions:[{
                        amount:{
                            total:_total,
                            currency:'USD'
                        }
                    }]
                }); 
            },
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function(){
                        var url = '@Url.Action("CompleteOrder" , "Orders" , new { })';
                        window.location.href=url;
                });
            }
                         } , '#paypal-btn')
    </script>

    <partial name="_ValidationScriptsPartial"></partial>
}






@*@section Scripts {
    <script src="/lib/jquery/dist/jquery.min.js">
    </script>

    <script>
        function increase() {
            var BookID = $("#BookSelect").val();
            console.log(BookID);
            $.ajax({
                url: "/Orders/AddItemsToShoppingCard",

                data: { "Id": BookID },
                success: function (result) {
                    //Json
                    //console.log(result);
                    //for (let item of result) {
                    //    $("#crsSelect").append("<option  value=" + item.id + ">" + item.name + "</option>")
                    //}
                    //$("#div1").html(result);



                }
            });
        }
    </script>

    <partial name="_ValidationScriptsPartial"></partial>
}


*@




