@using Kotabko.ViewModel;
@model ShoppingCardVM

@* to render temp data*@

<partial name="_notification"></partial>

@{
    ViewData["title"] = "shopping card summary";
}





<table id="cart" class="table table-borderless table-hover">
    <thead>
        <tr class="product-cart__header">
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col" class="text-center">total</th>
            <th scope="col" class=""></th>
        </tr>
    </thead>
    <tbody>
      

            <tr>
                <td class="Product-cart-title">
                    <div class="media  align-items-center">
                        <img class="me-3 wh-80 align-self-center radius-xl" src="img/cart1.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Fiber base chair</h5>
                            <div class="d-flex">
                                <p>Size:<span>large</span></p>
                                <p>color:<span>brown</span></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="price">$248.66</td>
                <td>

                    <div class="quantity product-cart__quantity">
                        <input type="button" value="-" class="qty-minus bttn bttn-left wh-36">
                        <input type="number" value="1" class="qty qh-36 input">
                        <input type="button" value="+" class="qty-plus bttn bttn-right wh-36">
                    </div>

                </td>
                <td class="text-center subtotal">$5.11</td>
                <td class="actions">
                    <button type="button" class="action-btn float-end">
                        <i class="las la-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="Product-cart-title">
                    <div class="media  align-items-center">
                        <img class="me-3 wh-80 align-self-center radius-xl" src="img/cart2.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Fiber base chair</h5>
                            <div class="d-flex">
                                <p>Size:<span>large</span></p>
                                <p>color:<span>brown</span></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="price">$248.66</td>
                <td>

                    <div class="quantity product-cart__quantity">
                        <input type="button" value="-" class="qty-minus bttn bttn-left wh-36">
                        <input type="number" value="1" class="qty qh-36 input">
                        <input type="button" value="+" class="qty-plus bttn bttn-right wh-36">
                    </div>

                </td>
                <td class="text-center subtotal">$5.11</td>
                <td class="actions">
                    <button type="button" class="action-btn float-end">
                        <i class="las la-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="Product-cart-title">
                    <div class="media  align-items-center">
                        <img class="me-3 wh-80 align-self-center radius-xl" src="img/cart3.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Fiber base chair</h5>
                            <div class="d-flex">
                                <p>Size:<span>large</span></p>
                                <p>color:<span>brown</span></p>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="price">$248.66</td>
                <td>

                    <div class="quantity product-cart__quantity">
                        <input type="button" value="-" class="qty-minus bttn bttn-left wh-36">
                        <input type="number" value="1" class="qty qh-36 input">
                        <input type="button" value="+" class="qty-plus bttn bttn-right wh-36">
                    </div>

                </td>
                <td class="text-center subtotal">$5.11</td>
                <td class="actions">
                    <button type="button" class="action-btn float-end">
                        <i class="las la-trash-alt"></i>
                    </button>
                </td>
            </tr>


       
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <div class="product-cart__cupon">
                    <input type="text" class="form-control  col-xl-4 col-md-6 " placeholder="Coupon code">
                    <a href="#" class="btn btn-primary col-xl-3 col-lg-4 space-nowrap">Apply Coupon</a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>


<style>



  


  

</style>




@*<table class="table">
    <thead>
        <tr>

            <th scope="col">select Amount</th>
            <th scope="col">BookName</th>
            <th scope="col">price</th>
            <th scope="col">subtotal</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model.ShoppingCard.ShoppingCardItems)
    {
        <tbody>
            <tr>

                <td>@item.Amount</td>
                <td>@item.Book.Title</td>
                <td>@item.Book.Price</td>
                <td>@((item.Amount * item.Book.Price).ToString("c"))</td>
                <td class="align-middle">
                    <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemsfromShoppingCard" asp-route-id="@item.Book.Id"> <i class="bi bi-cart-dash"></i> </a>
                    |
                    <a class=" text-success" asp-controller="Orders" asp-action="AddItemsToShoppingCard" asp-route-id="@item.Book.Id">  <i class="bi bi-cart-plus"></i> </a>

                </td>


            </tr>

        </tbody>

    }

    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td> <b>Total:</b> </td>
            <td> @Model.ShoppingCardTotal.ToString("c") </td>
            <td> </td>
        </tr>
    </tfoot>

</table>

<div>
    <div class="btn btn-group">
        <a class="btn btn-success" asp-controller="Book" asp-action="Index"> Add more Items</a>
    </div>
</div>*@