@model ShopViewModel
@{
    ViewData["Title"] = "ShopIndex";    
}


<div id="body">

    <section class="shop_section">
        <div class="my-title d-flex">
            <div class="my-main position-relative w-100">
                <div class="d-flex justify-content-between ">
                    <div class="right-part text-uppercase fs-1 fw-bold">Shop </div>
                    <div class="lift-part mt-auto mb-auto ">
                        <a class="text-decoration-none fs-4 fw-light" asp-action="Index" asp-controller="Home">HOME</a>
                        @*<i class="fas-sharp fas-arrow-right fs-sm" style="color: #e13623;"></i>*@
                        <i class="fs-4 fw-light">SHOP</i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content container d-flex">
        <div class="content-row col-12 row">
            <!--lift-content-->
            @*<partial name="SecondryShop" model="@Model" />*@
            <div class="lift-content col-lg-3  d-flex">
                <div class="right-content-rows row">
                    <div class="genre col-lg-12 ">
                        <div class="genre-content">
                            <span>
                                Genre
                            </span>
                            <ul>
                                @foreach (var item in Model.categoryVMs)
                                {
                                    <li>
                                        <a class="category_Id" id="@item.Id">
                                            @item.Name

                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="author col-lg-12 ">
                        <div class="author-content">
                            <span>
                                Authors
                            </span>
                            <ul>
                                @foreach (var item in Model.authorVMs)
                                {
                                    <li>
                                        <div><a href="/Shop/AuthorDetails/@item.Id">@item.Name</a> </div>
                                        <div class="coun">(5) </div>
                                    </li>
                                }

                            </ul>

                        </div>
                    </div>

                    <div class="review col-lg-12 ">
                        <div class="review-content ">
                            <span>
                                Review Ratings
                            </span>
                            <ul class="m-0 p-0">

                                <li>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <a href="#">
                                                    <div class="mt-1 justify-content-between align-items-center  ">

                                                        <div class="small-ratings d-flex m-2">
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-2"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="coun ">(5) </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <a href="#">
                                                    <div class="mt-1 justify-content-between align-items-center  ">

                                                        <div class="small-ratings d-flex m-2">
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star  mx-1"></i>
                                                            <i class="fa fa-star mx-2"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="coun ">(3) </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <a href="#">
                                                    <div class="mt-1 justify-content-between align-items-center  ">

                                                        <div class="small-ratings d-flex m-2">
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-2"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="coun ">(5) </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container">
                                        <div class="d-flex">
                                            <div>
                                                <a href="#">
                                                    <div class="mt-1 justify-content-between align-items-center  ">

                                                        <div class="small-ratings d-flex m-2">
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star rating-color mx-1"></i>
                                                            <i class="fa fa-star mx-2"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="coun ">(4) </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>


                    </div>

                </div>
            </div>
            <!--right-content-->
            @if (Model.books?.Count() == 0)
            {
                <div class="alert alert-danger" role="alert">
                    No Products!
                </div>
            }
            else
            {
                <div class="right-content col-lg-9 col-md-12 col-sm-12 d-flex" id="books">
                    <partial name="MainShop" model="@Model" />
                </div>
            }

        </div>
    </section>
    <section class="pages pt-0 mt-0">
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item active" id="p1" aria-current="page">
                    <span class="page-link FirstPage">1</span>
                </li>
                <li class="page-item" id="p2"><a class="page-link SecondPage">2</a></li>
                <li class="page-item " id="p3"><a class="page-link LastPage">3</a></li>
            </ul>
        </nav>

    </section>
</div>

<style>

    /* Title Section*/
    .shop_section {
        background-color: #f0f0f0;
        padding: 0 30px;
    }

    .my-title {
        min-height: 200px;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        padding: 0 20px;
    }

    a:hover {
        color: red;
    }

    .pages {
        display: flex;
        justify-content: flex-end;
    }
    /* lift Section*/
    * {
        box-sizing: border-box;
    }

    .lift-part {
        box-sizing: border-box;
        font-size: 12px;
        margin-top: auto;
        text-transform: uppercase;
        margin-bottom: auto;
        font-weight: 500;
    }

        .lift-part a {
            color: var(--light);
        }

        .lift-part i {
            color: red;
            margin: auto 15px;
        }


    /* content style*/

    .content {
        margin-top: 60px;
        margin-bottom: 40px;
        outline: none;
        box-sizing: border-box;
    }
    /* lift content style*/
    .lift-content {
        width: 300px;
        float: left;
        margin-bottom: 1.618em;
        font-size: 14px;
        line-height: 1.714;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }
    /*All Elements in lift side*/
    /* 1-Gerne*/
    .genre-content, .author-content, .review-content, .featured-content {
        padding: 25px 40px 40px;
        border: 1px solid #e6e6e6;
        border-radius: 15px;
        margin-bottom: 30px;
    }


        .genre-content span, .author-content span, .review-content span, .featured-content span {
            margin-left: -40px;
            margin-right: -40px;
            margin-bottom: 30px;
            padding-bottom: 15px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 0;
            border-bottom: 1px solid #e6e6e6;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 600;
            color: #444444;
            display: block;
            font-family: Cairo;
            line-height: 1.23;
        }


        .genre-content ul, .featured-content ul {
            margin-bottom: 0;
            margin-left: 0;
            list-style: none;
        }

            .genre-content ul li, .featured-content ul li {
                margin-bottom: 1em;
                line-height: 1.41575em;
                list-style: none;
            }

                .genre-content ul li a, .author-content ul li a {
                    color: #444444;
                    text-decoration: none;
                    background-color: #00000000;
                    line-height: 1.41575em;
                    font-family: Sora;
                }

                .genre-content ul li ::before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 400;
                    line-height: 1;
                    vertical-align: middle;
                    content: "";
                    margin-right: 8px;
                    margin-top: -2px;
                }

    ul li a:hover {
        color: red;
    }

    ul li div a:hover {
        color: red;
    }
    /* 2-Author*/
    .author-content ul li, .review-content ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin-top: 0px;
    }

        .author-content ul li a {
            flex: 1;
            color: #000000;
        }
    /* 4-Review Rating*/
    .rating-color {
        color: #fbc634 !important;
    }

    .small-ratings i {
        color: #cecece;
    }

    /* 5-Featured*/
    .side {
        border-radius: 1rem
    }
</style>


@section Scripts{
    <script src="/lib/jquery/dist/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            var id = 0;
            var books = $("#books");
            var pageNumber = 1;
            $(".category_Id").click(function () {
                $(".category_Id").css('color', 'black');
                id = $(this).attr('id')
                console.log(id);
                $(this).css('color', 'red');
                $.ajax({

                    type: "GET",
                    url: "/Shop/LoadBooks",
                    data: { "id": id, "pageNumber": 1 },
                    success: function (data) {
                        if(data == null){
                            alert("Not Avilable Books!")
                        }
                        books.html('');
                        books.html(data);
                        document.documentElement.scrollTop = 380;

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve books.');
                    }
                });

            });

            $(".SecondPage").click(function () {
                $("#p1").removeClass("active");
                $('#p2').addClass("active");
                $("#p3").removeClass("active");
                $.ajax({

                    type: "GET",
                    url: "/Shop/LoadBooks",
                    data: { "id": id, "pageNumber": 2 },
                    success: function (data) {
                        books.html('');
                        books.html(data);
                        document.documentElement.scrollTop = 380;
                        if(data == null){
                            alert("Not Avilable Books!")
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve books.');
                    }
                });
            });
            $(".FirstPage").click(function () {

                $('#p1').addClass("active");
                $("#p2").removeClass("active")
                $("#p3").removeClass("active")
                var books = $("#books");

                $.ajax({

                    type: "GET",
                    url: "/Shop/LoadBooks",
                    data: { "id": id, "pageNumber": 1 },
                    success: function (data) {
                        if (data == null) {
                            alert("Not Avilable Books!")
                        }
                        books.html('');
                        books.html(data);
                        document.documentElement.scrollTop = 380;


                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve books.');
                    }
                });
            });
        });
    </script>
}








